.filter {
  width: 100%;
  display: flex;
}

.filter input,
.filter span {
  flex: 1
}

.filter span {
  text-align: right;
  line-height: 28px;
}

@media screen and (min-width: 600px) {
  .filter {
    width: 600px;
  }
}